@tailwind base;
@tailwind components;
@tailwind utilities;
.cp_embed_wrapper{
    width:100%;
    height:100%
}
#landingPageShapes > *{
    transition-duration: 2s;
}
.letterSpacing-2{
    letter-spacing: 2px;
}
.cardWrapper{
    transition: width .6s;

    width:0px;
    top:0px;
    left:0px;
  }
  .cardContent:hover + .cardWrapper{
    /* transform: translate(-300px, -5px); */
    width:120%
  }
.animate-top{position:relative;animation:animatetop 0.1s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #101010;
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }